body {
	background-color: rgb(230, 230, 230);
}

img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 266px;
   height: 142px;
   margin-top: -71px; /* Half the height */
   margin-left: -133px; /* Half the width */
}