body {
	background-color: rgb(230, 230, 230);
}

a {
	text-decoration: none;
	color: #424496;
}

a:hover {
	color: #2F316D;
}

a:visited {
	text-decoration: none;
}

#profile {
	line-height: 120px;	
	width: 266px;
	height: 142px;
}

#picture {
	text-align: center;
	margin-top: 150px;
	height: 100px;
}

#icons {
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
}