body {
	background-color: rgb(230, 230, 230);
}

a {
	text-decoration: none;
	color: #3C2F79;
}

a:hover {
	color: #2F316D;
}

a:visited {
	text-decoration: none;
}

#profile {
	width: 272px;
	height: 204px;
}

#picture {
	text-align: center;
	margin-top: 130px;
	height: 120px;
}

#icons {
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
}